@{
    ViewData["Title"] = "Home Page";
}
@{
    var cook = Context.Request.Cookies.FirstOrDefault(x => x.Key == "welcome");
}
@if (cook.Value == null)
{
    @await Component.InvokeAsync("FirstOpen")
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать.</h1>
    <p>Это приложение умные тесты!</p>
    <p>Создайте или пройдите тест другого человека</p>
</div>
<script>
    navigator.serviceWorker.register("/ServiceWorker.js")
        .then((reg) => {
            console.log(reg.pushManager.getSubscription());
        });
</script>
